@use "variables" as var;

/* COMPONENTS */

.btn {
  color: inherit;
  font: inherit;
  line-height: inherit;
  border: none;
  width: 100%;

  &--primary {
    background-color: var(--purple);
    border-radius: 0.75rem;
    min-height: 5rem;
    margin-top: 2rem;

    @media (width > var.$screen-medium) {
      border-radius: 1.5rem;
    }
  }
}
