@use "variables" as var;

/* LAYOUT */

body > header {
  min-height: 4.5rem;
  display: flex;
  align-items: center;

  @media (width > var.$screen-medium) {
    min-height: 8.5rem;
  }

  @media (width > var.$screen-large) {
    min-height: 14rem;
  }
}

.container {
  width: min(87%, var.$screen-small);
  margin-inline: auto;

  @media (width > var.$screen-medium) {
    width: min(80%, var.$screen-medium);
  }

  @media (width > var.$screen-large) {
    width: min(80%, var.$screen-large);
  }
}

main {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @media (width > var.$screen-medium) {
    gap: 4rem;
  }

  @media (width > var.$screen-large) {
    flex-direction: row;
    padding-top: 0;
  }

  > * {
    flex-grow: 1;
    flex-basis: 100%;

    @media (width > var.$screen-large) {
      flex-basis: 0;
    }
  }
}

/* TOPIC PAGE */

.topicpage {
  &__logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media (width > var.$screen-medium) {
      gap: 1.5rem;
    }
  }
}
