:root {
  /* colors */
  --dark-navy: #313e51;
  --navy: #3b4d66;
  --grey-navy: #626c7f;
  --light-bluish: #abc1e1;
  --pure-white: #fff;
  --purple: #a729f5;
  --light-grey: #f4f6fa;

  --bg-color: var(--dark-navy);
  --text-color: var(--pure-white);

  /* font size */
  --fs: 1.125rem;

  /* font family */
  --ff: "Rubik", sans-serif;

  /* font weight */
  --fw: 500;

  /* line height */
  --lh: 1.5;
}

body {
  background-color: var(--bg-color, #313e51);
  color: var(--text-color, #fff);
  font-family: var(--ff);
  font-weight: var(--fw);
  font-size: var(--fs);
  line-height: var(--lh);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
p,
ul {
  margin: 0;
}

h1 {
  line-height: 1;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([href]) {
  pointer-events: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
