@font-face {
  font-family: "Rubik";
  src: url("/assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}

:root {
  /* colors */
  --dark-navy: #313e51;
  --navy: #3b4d66;
  --light-bluish: #abc1e1;
  --pure-white: #fff;

  --bg-color: var(--dark-navy);
  --text-color: var(--pure-white);

  /* font size */
  --fs: 1.125rem;

  /* font family */
  --ff: "Rubik", sans-serif;

  /* font weight */
  --fw: 500;

  /* line height */
  --lh: 1.5;
}

body {
  background-color: var(--bg-color, #313e51);
  color: var(--text-color, #fff);
  font-family: var(--ff);
  font-weight: var(--fw);
  font-size: var(--fs);
  line-height: var(--lh);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
p,
ul {
  margin: 0;
}

h1 {
  line-height: 1;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* LAYOUT */

.container {
  padding-inline: 1.5rem;
}

.body__header {
  padding-block: 1rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

main > * {
  flex-grow: 1;
}

.main__header {
  padding-top: 2rem;
}

.main__header > :not(:first-child) {
  margin-top: 1rem;
}

.text--heading > * + * {
  margin-top: 0.5rem;
}

.list > li {
  border-radius: 0.75rem;
  overflow: hidden;
}

.list > li:not(:first-child) {
  margin-top: 0.75rem;
}

.list__item {
  padding: 0.75rem;
  background-color: var(--navy);
}

.topic-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.topic-info > img {
  width: 2.5rem;
}

@media (width >= 64rem /* 1024px */) {
  .container {
    padding-inline: 8.75rem;
  }

  .body__header {
    padding-block: 5rem;
  }

  main {
    flex-direction: row;
  }

  .main__header {
    padding-top: 0;
  }

  .main__header > * + * {
    margin-top: 3rem;
  }

  .list > li:not(:first-child) {
    margin-top: 1.5rem;
  }

  .list__item {
    padding: 1.25rem;
  }

  .topic-info {
    gap: 2rem;
  }

  .body__header .topic-info {
    gap: 1.5rem;
  }

  .topic-info > img {
    width: 3.5rem;
  }
}

/* CONTENT */

.text--heading {
  font-size: 2.5rem;
}

.text--heading > :first-child {
  font-weight: 300;
}

.text--medium {
  font-size: 1.125rem;
}

.text--italic {
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 400;
  color: var(--light-bluish);
}

@media (width >= 64rem /* 1024px */) {
  .text--heading {
    font-size: 4rem;
  }

  .text--medium {
    font-size: 1.75rem;
  }

  .text--italic {
    font-size: 1.25rem;
  }
}
