/* todo: add rubic italic variable font */

@font-face {
  font-family: "Rubik";
  src: url("/assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}

:root {
  /* colors */
  --dark-navy: #313e51;
  --navy: #3b4d66;
  --light-bluish: #abc1e1;
  --pure-white: #fff;
  --purple: #a729f5;

  --bg-color: var(--dark-navy);
  --text-color: var(--pure-white);

  /* font size */
  --fs: 1.125rem;

  /* font family */
  --ff: "Rubik", sans-serif;

  /* font weight */
  --fw: 500;

  /* line height */
  --lh: 1.5;
}

body {
  background-color: var(--bg-color, #313e51);
  color: var(--text-color, #fff);
  font-family: var(--ff);
  font-weight: var(--fw);
  font-size: var(--fs);
  line-height: var(--lh);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
p,
ul {
  margin: 0;
}

h1 {
  line-height: 1;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([href]) {
  pointer-events: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* LAYOUT */

.body__header {
  min-height: 4.5rem;
  display: flex;
  align-items: center;
}

.container {
  width: min(87%, 30rem);
  margin-inline: auto;
}

main {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

main > * {
  flex-grow: 1;
  flex-basis: 100%;
}

main .header > * + * {
  margin-top: 1rem;
}

.list > * + * {
  margin-top: 0.75rem;
}

.list-item {
  border-radius: 0.75rem;
  overflow: hidden;
}

.list-item > * {
  padding: 0.75rem;
  background-color: var(--navy);
}

.list-item > *,
.header__image-text {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list-item img {
  width: 2.5rem;
}

@media (width > 48rem) {
  .container {
    width: min(80%, 48rem);
  }

  .body__header {
    min-height: 8.5rem;
  }

  main {
    gap: 4rem;
  }
}

@media (width > 75rem) {
  .container {
    width: min(80%, 75rem);
  }

  .body__header {
    min-height: 14rem;
  }

  .header__image-text {
    gap: 1.5rem;
  }

  main {
    flex-direction: row;
    padding-top: 0;
  }

  main > * {
    flex-basis: 0;
  }

  main .header > * + * {
    margin-top: 3rem;
  }

  .list > * + * {
    margin-top: 1.5rem;
  }

  .list-item > * {
    padding-inline: 1.25rem;
    min-height: 5rem;
  }

  .list-item > * {
    gap: 2rem;
  }

  .list-item img {
    width: 3.5rem;
  }
}

/* CONTENT */

.text--xl {
  font-size: 2.5rem;
}

.text--xl > * + * {
  margin-top: 0.5rem;
}

.text--xl > :first-child {
  font-weight: 300;
}

.text--large {
  font-size: 1.25rem;
  line-height: 1.2;
}

.text--large {
  margin-top: 0.75rem;
}

.text--medium {
  font-size: 1.125rem;
}

.text--italic {
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 400;
  color: var(--light-bluish);
}

@media (width > 75rem) {
  .text--xl {
    font-size: 4rem;
    width: max-content;
  }

  .text--large {
    font-size: 2.25rem;
  }

  .text--large {
    margin-top: 1.69rem;
  }

  .text--medium {
    font-size: 1.75rem;
  }

  .text--italic {
    font-size: 1.25rem;
  }
}

/* COMPONENTS */
.btn {
  color: inherit;
  font: inherit;
  line-height: inherit;
  border: none;
  width: 100%;
}
.btn.btn--primary {
  background-color: var(--purple);
  border-radius: 0.75rem;
  min-height: 5rem;
  margin-top: 2rem;
}
